<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smsys.system.mapper.ResultlistMapper">
    <select id="getResultListBySupervisorId" resultType="com.smsys.system.entity.Resultlist">
        SELECT
            a.*
        From result_resultlist a INNER JOIN sys_supervisor b ON a.supervisor_id = b.id
        Where b.id = #{id}
    </select>

</mapper>
