<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smsys.system.mapper.SupervisorMapper">
    <select id="getSupervisorDetail" resultType="com.smsys.system.model.SupervisorDetail">
        SELECT
            a.id,
            supervisor_no AS supervisorNo,
            supervisor_name AS supervisorName,
            case sex when '0' then '男'
                     when '1' then '女'
                end as sex,
            belong_college AS belongCollege
        FROM
            sys_supervisor a INNER JOIN sys_user b ON a.user_id = b.id
        WHERE
            b.id = #{id}
    </select>
    <select id="getResultListById" resultType="com.smsys.system.entity.Resultlist">
        SELECT
            result_id AS resultId,
            result_type AS resultType
        From result_list a INNER JOIN sys_supervisor b ON a.supervisor_id = b.id

    </select>

</mapper>
